/*====  RESET ============================ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 55%;
  height: auto;
  position: absolute;
  margin: 3% 0% 0% -10%;
}

/*====  VARIABLES ============================ */
:root {
  font-display: swap;
  scroll-behavior: smooth;

  /* Colors */
  --body-color: rgb(0, 0, 0);
  --title-color: rgb(255, 255, 255);
  --text-color: rgb(240, 240, 240);
  --hover-color: rgb(255, 50, 75);
  --hover-color-alt: rgb(255, 50, 100);

  /* Fonts */
  --title-font-size: 1.875rem;
  --subtitle-font-size: 1.35rem;

  --title-font: 'Poppins', sans-serif;
  --body-font: 'DM Sans', sans-serif;
  --nunito: 'Nunito', sans-serif;
}

/*====  BASE ============================ */
body {
  font: 400 1rem var(--body-font);
  color: var(--text-color);
  background: var(--body-color);
  -webkit-font-smoothing: antialiased;
}

.title {
  font: 800 var(--title-font-size) var(--title-font);
  color: var(--title-color);
  -webkit-font-smoothing: auto;
}

.logo {
  width: 8rem;
  margin: 1rem 0rem 0rem 1.5rem;
  background: url(assets/logo1.png);
  background-size: contain;
  background-repeat: no-repeat;
}

/*====  LAYOUT ============================ */
.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.container-line {
  margin: 0rem;
  padding: 0.75rem;
}

.grid {
  display: grid;
  gap: 2rem;
}

.section {
  padding: 0rem;
}

.section .title {
  margin-bottom: 1rem;
  text-align: center;
}

.section .subtitle {
  font-size: var(--subtitle-font-size);
}

.section header {
  margin-bottom: 4rem;
}

#header {
  position: relative;
  top: 0;
  left: 0;
  z-index: 99;
  display: flex;
  background: rgba(255, 255, 255, 0);
  transition: background 0.5s ease;
  width: 100%;
}

#main {
  background: url(assets/BG_SITE_COR.png);
  background-repeat: repeat;
  background-size: contain;
  overflow: hidden;
}

.stats-button:hover,
.audit-button:hover {
  transform: translate(0.15rem, 0.15rem);
  cursor: pointer;
}
/*====== SOCIALS ================*/
#twitter,
#twitch,
#instagram,
#youtube,
#tiktok {
  color: #000;
  transition: 0.5s;
  cursor: pointer;
}

#twitter:hover {
  color: #00acee;
}

#twitch:hover {
  color: #6441a5;
}

#instagram:hover {
  color: #c13584;
}

#youtube:hover {
  color: #ff0000;
}

#tiktok:hover {
  color: #000000;
}

#tiktok-stats {
  background-color: #333333 !important;
}

#youtube-stats {
  background-color: #da0000 !important;
}

#twitter-stats {
  background-color: #43b8ff !important;
}

#twitch-stats {
  background-color: #8126ee !important;
}

#insta-stats {
  background-color: #f067bc !important;
}

#twitter-s_icon {
  color: #2697ca;
}

#insta-s_icon {
  color: #944cc9;
}

#twitch-s_icon {
  color: #9146ff;
}

#youtube-s_icon {
  color: #ff3131;
}

/*====== SCROLL ================*/
::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.4);
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 2rem;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.8);
}

/*====  NAVIGATION ============================ */
nav {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100vw;
}

nav ul li {
  text-align: center;
}

nav ul li a {
  transition: color 0.3s;
  position: relative;
}

nav ul li a:hover {
  color: var(--hover-color);
}

nav .menu {
  opacity: 0;
  visibility: hidden;
  top: -20rem;
  transition: 0.3s;
}

nav .menu ul {
  display: none;
}

/*====  VISIBLE MENU ============================*/
nav.show .menu {
  opacity: 1;
  visibility: visible;
  background: var(--body-color);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  place-content: center;
}

nav.show .menu ul {
  display: grid;
}

nav.show ul.grid {
  gap: 2.5rem;
}

.toggle {
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
}

i.fa-xmark {
  display: flex;
  width: 60vw;
  justify-content: flex-end;
}

/*====  HOME ============================ */
#home .container {
  justify-content: center;
  margin: 0rem;
  width: auto;
  height: 80vh;
}

#home .banner {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner video {
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 90%;
}

/*====  TALENTS  ============================ */
#talentos .container {
  margin: 0rem;
}

#talentos.section {
  height: 200vh;
  padding: 0rem 2.5rem 0rem 2.5rem;
}

#talentos h2 {
  width: 80vw;
  margin: 4rem 0rem 1rem 0rem;
}

#talentos h3,
#status h3 {
  font-size: var(--subtitle-font-size);
  color: #000;
  margin: 0.5rem 0rem;
}

div.subs-container,
div.stats-container {
  width: 85vw;
  background-color: rgb(255, 255, 255);
  /*border: solid #000;*/
  box-shadow: 6px 6px #000;
  border-radius: 0.75rem;
}

div.stats-container-first {
  padding: 1rem;
}

div.subs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
}

div.subs i {
  text-align: center;
  font-size: 1rem;
  margin: 0rem 0rem 0.5rem 0.75rem;
}

div.subs p {
  width: 10%;
  text-align: center;
  font-family: var(--title-font);
  font-weight: 600;
  font-size: 1rem;
  color: #000;
  margin: 0rem 1rem 0.5rem 0rem;
}

/* CARDS */
.cards.grid {
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}

.cards {
  margin: 0rem 0rem 0rem -1rem;
}

.card {
  /*border: solid #000;*/
  border-width: 0.25rem 0.25rem 0.25rem 0.25rem;
  border-radius: 1rem;
  box-shadow: 3px 3px #000;
  height: 60vh;
  width: auto;
}

.card#T {
  display: block;
  background-image: url(assets/BOTAO_TOSHI_copy.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.4);
}

.card#D {
  display: block;
  background-image: url(assets/BOTAO_dante_copy.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.4);
}

.card#E {
  display: block;
  background-image: url(assets/BOTAOdsadasEEIRIS_copy.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.4);
}

.card#N {
  display: block;
  background-image: url(assets/BOTAO_TOSHI_fsdcopy.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.4);
}

.card#T:hover,
.card#D:hover,
.card#E:hover,
.card#N:hover {
  transform: translate(0.25rem, 0.25rem);
  border-width: 0.3rem 0.3rem 0.3rem 0.3rem;
  cursor: pointer;
}

/* POP-UP */
.popup-wrapper-t,
.popup-wrapper-d,
.popup-wrapper-e,
.popup-wrapper-n {
  display: none;
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
}

.card-img {
  display: block;
  width: 105%;
  height: auto;
  position: absolute;
  margin: -68% 0% 0% -68%;
}

.popup {
  background: url(assets/BG_SITE_COR.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: var(--body-font);
  text-align: center;
  width: 64%;
  height: auto;
  margin: 20% auto;
  padding: 0.5rem;
  position: relative;
  z-index: 60;
}

.popup-content {
  width: 100%;
  height: 100%;
  padding: 10rem;
  color: var(--text-color);
}

#talentos .popup-content h2 {
  display: none;
  width: 100%;
  font-size: var(--title-font-size);
  color: var(--title-color);
  margin: 0rem;
}

.popup-content p {
  font-family: var(--body-font);
  font-size: 100%;
  text-align: justify;
  margin-top: 0.5rem;
}

.popup a {
  display: none;
  width: 25%;
  color: #fff;
  cursor: pointer;
  padding: 0.5rem 0.75rem;
  text-decoration: none;
  background: rgb(255, 255, 255);
  box-shadow: 2px 0px #fff;
}

.popup a:nth-child(1) {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.popup a:nth-child(4) {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.link-wrapper {
  display: none;
  color: #fff;
  display: flex;
  flex-direction: row;
  text-align: center;
  margin-top: 1.25rem;
  font-size: 1.5rem;
}

.popup-close {
  position: absolute;
  top: -3px;
  right: -3px;
  cursor: pointer;
  padding: 0.75rem 0.75rem;
  font-weight: 900;
  color: #fff;
  background: #000;
  border-radius: 0.5rem;
  z-index: 100;
}

.popup-close:hover {
  color: var(--hover-color);
}

/*====  STATUS  ============================ */
#status.section {
  height: 300%;
  margin: 0%;
}

div.stats-container {
  display: block;
  align-items: center;
  flex-direction: column;
  width: 90vw;
  height: auto;
  z-index: 10;
  border-radius: 1rem;
  margin: 0rem 0rem 0rem -4rem;
}

.stats-container p {
  text-align: left;
  font-family: var(--nunito);
  font-weight: 700 !important;
  font-size: 0.75rem;
  color: #000;
}

.stats {
  margin: 8% 4% 8% 4%;
}

.left {
  text-align: left !important;
}

.right {
  text-align: right !important;
}
/*
h3.tktk {
  margin: 3% 72% 0% 0% !important;
}

h3.yt {
  margin: 3% 66% 0% 0% !important;
}

h3.tt {
  margin: 3% 69% 0% 0% !important;
}

h3.ttv {
  margin: 3% 70% 0% 0% !important;
}

h3.inst {
  margin: 3% 58% 0% 0% !important;
}

h3.n-r {
  margin: 3% 38% 0% 0% !important;
}
*/

.status.grid {
  grid-template-columns: 1fr 2fr;
  width: 70vw;
  margin: 6% 0% 0% 21.5%;
}

.stats.grid {
  grid-template-rows: 1fr;
  gap: 2rem;
  width: 30vw;
  margin: 6% 0% 0% 21.5%;
}

.slimp {
  margin: -8% 0% 0% 0%;
}

.up {
  margin-top: -10% !important;
}

.hide {
  display: none !important;
  opacity: 0 !important;
  z-index: -10 !important;
}

.whitep {
  color: #fff !important;
}

.stats-icon {
  display: block;
  position: absolute;
  width: 15% !important;
  height: auto !important;
  margin: -6.5% 0% 0% 32%;
}

.button-holder {
  width: 200%;
  height: 70%;
  margin-bottom: 15%;
}

button.stats-button {
  width: 35%;
  height: 70%;
  /*border: #000 solid 3px;*/
  border:0px;
  border-radius: 0.5rem;
  box-shadow: 6px 6px #000;
}

/*====  PARTNERS   ============================ */
#partners.section {
  align-items: center;
  background: #e3e3e3;
  display: flex;
  height: 100%;
  justify-content: center;
  margin: 0%;
  padding: 0%;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 28));
  }
}

.slider {
  background: #000;
  height: auto;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.slider .slide-track {
  animation: scroll 120s linear infinite;
  display: flex;
  width: calc(250px * 14);
}

.cards-logo {
  opacity: 0;
  overflow: auto;
  white-space: nowrap;
  display: inline-block;
  background-image: url(assets/logo2.png);
  background-color: rgb(0, 0, 0);
  background-size: contain;
  background-repeat: no-repeat;
  padding: 3rem 3.5rem;
  margin: 1.5rem 1.5rem;
}

.opera-logo {
  background-image: url(assets/OPERA.png);
  overflow: auto;
  white-space: nowrap;
  display: inline-block;
  background-color: rgb(0, 0, 0);
  background-size: contain;
  background-repeat: no-repeat;
  padding: 6rem 6rem;
  margin: 0.5rem 10rem;
}

.square-logo {
  background-image: url(assets/SQUARE.png);
  overflow: auto;
  white-space: nowrap;
  display: inline-block;
  background-color: rgb(0, 0, 0);
  background-size: contain;
  background-repeat: no-repeat;
  padding: 6rem 6rem;
  margin: 0.5rem 10rem;
}

.genshin-logo {
  background-image: url(assets/GENSHIN.png);
  overflow: auto;
  white-space: nowrap;
  display: inline-block;
  background-color: rgb(0, 0, 0);
  background-size: contain;
  background-repeat: no-repeat;
  padding: 6rem 6rem;
  margin: 0.5rem 10rem;
}

.raid-logo {
  background-image: url(assets/RAID.png);
  overflow: auto;
  white-space: nowrap;
  display: inline-block;
  background-color: rgb(0, 0, 0);
  background-size: contain;
  background-repeat: no-repeat;
  padding: 6rem 6rem;
  margin: 0.5rem 10rem;
}

.sraiders-logo {
  background-image: url(assets/RAIDERS.png);
  overflow: auto;
  white-space: nowrap;
  display: inline-block;
  background-color: rgb(0, 0, 0);
  background-size: contain;
  background-repeat: no-repeat;
  padding: 6rem 6rem;
  margin: 0.5rem 10rem;
}

.marbles-logo {
  background-image: url(assets/MARBELS.png);
  overflow: auto;
  white-space: nowrap;
  display: inline-block;
  background-color: rgb(0, 0, 0);
  background-size: contain;
  background-repeat: no-repeat;
  padding: 6rem 6rem;
  margin: 0.5rem 10rem;
}

/*====  CONTACTS ============================ */
#contact.section {
  padding: 1.5rem;
}

#contact .grid {
  gap: 2.5rem;
}

.stats-audit {
  margin: 4%;
}

.audit-container {
  width: 100%;
  height: auto;
  border-radius: 1rem;
  background-color: rgb(255, 255, 255);
  /*border: solid #000;*/
  box-shadow: 6px 6px #000;
  margin-bottom: 25%;
}

.audit-button {
  width: 100%;
  height: 70%;
  /*border: #000 solid 3px;*/
  border:0px;
  border-radius: 0.5rem;
  box-shadow: 6px 6px #000;
  margin: 4% 0% 4% 0%;
}

.blackp {
  color: #000;
  margin: 0% !important;
}

h3.audit-title {
  margin: 3% 50% -3% 0% !important;
}

.audit-button-p {
  font-size: 1.25rem !important;
  margin: 0.25rem 0rem !important;
}

div.form {
  width: 100%;
  margin: 0% 10% 0% 10%;
}

.button {
  background-color: var(--title-color);
  color: rgb(100, 100, 100);
  height: 1.5rem;
  width: 80%;
  margin: 0.75rem 0rem;
  align-items: center;
  padding: 0rem 1.25rem;
  border-radius: 0.5rem;
  border-style: outset;
  /*border: visible;*/
  font: 500 0.875rem var(--body-font);
  transition: background 0.3s;
}

.button:hover {
  background: rgb(200, 200, 200);
}

/* Style inputs, select elements and textareas */
input[type='text'],
textarea {
  width: 100%;
  padding: 0.75rem;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 0.25rem;
  box-sizing: border-box;
  resize: vertical;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 80%;
  margin-top: 0.75rem;
}

.row:after {
  content: '';
  display: table;
  clear: both;
}

/*====  FOOTER ============================ */
footer {
  background: var(--body-color);
}

footer.section {
  padding: 0.5rem 0rem;
}

footer .container {
  display: flex;
  justify-content: space-between;
}

footer p {
  font-size: 0.75rem;
}

/*====  MEDIA QUERY ============================*/
@media (orientation: landscape) {
  #main {
    background: url(assets/BG_SITE.jpg);
    background-repeat: repeat;
    background-size: cover;
    overflow: hidden;
  }

  nav {
    height: 8rem;
  }

  nav .menu {
    text-align: center;
    visibility: visible;
    opacity: 1;
    top: 0;
  }

  nav .menu ul {
    display: flex;
    gap: 2rem;
  }

  nav .menu ul li a.title {
    font: 900 1.8rem var(--title-font);
  }

  i.fa-bars,
  i.fa-xmark {
    display: none;
  }

  #home.section {
    padding: 0%;
    height: 90vh;
  }

  #talentos.section {
    padding: 0% 2% 0% 2%;
    height: 100vh;
  }

  #talentos h2 {
    margin: 6rem 0rem 0rem 0rem;
    width: 100vw;
    font-size: 2.5rem;
  }

  #talentos h3,
  #status h3 {
    margin: 2.5% 3% 2.5% 3%;
    font-size: 1.5rem;
  }

  #status.section {
    height: 100%;
  }

  .left {
    text-align: left !important;
    margin: 2.5% 3% 2.5% 0% !important;
  }

  .right {
    text-align: right !important;
    margin: 2.5% 2% 2.5% 3% !important;
  }

  div.subs-container {
    margin: 0% 25% 0% 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    width: 50%;
  }

  div.subs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: 0% 5% 0% 5%;
  }

  div.stats-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    z-index: 10;
    border-radius: 1rem;
  }

  div.stats-container-first {
    width: 105%;
  }

  .stats-container p {
    text-align: left;
    font-family: var(--nunito);
    font-weight: 700;
    font-size: 1rem;
    color: #000;
  }

  .stats {
    margin: 8% 4% 8% 4%;
  }

  .stats-first {
    margin: 4% 6% 10% 6%;
  }
/*
  h3.tktk {
    margin: 5% 79% 0% 0% !important;
  }

  h3.yt {
    margin: 5% 75% 0% 0% !important;
  }

  h3.tt {
    margin: 5% 76% 0% 0% !important;
  }

  h3.ttv {
    margin: 5% 78% 0% 0% !important;
  }

  h3.inst {
    margin: 5% 70% 0% 0% !important;
  }

  h3.n-r {
    margin: 5% 58% 0% 0% !important;
  }
*/
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr !important;
    width: 70vw;
    margin: 0% 14% 0% 14%;
  }

  .status.grid {
    grid-template-columns: 1fr 2fr;
    width: 70vw;
    margin: 2% 0% 0% 19%;
  }

  .stats.grid {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    width: 70vw;
    margin: 2% 0% 0% 19%;
  }

  .slimp {
    margin: -8% 0% 0% 0%;
  }

  .up {
    margin-top: -10% !important;
  }

  .hide {
    display: none !important;
    opacity: 0 !important;
    z-index: -10 !important;
  }

  .whitep {
    color: #fff !important;
  }

  .stats-icon {
    position: absolute;
    width: 4% !important;
    height: auto !important;
    margin: -1.5% 0% 0% 14%;
  }

  .card {
    width: 17vw;
    height: 60vh;
    margin: 0% 2% 0% 2%;
  }

  .popup {
    max-width: 50%;
    width: auto;
    height: 60%;
    margin: 5% auto;
  }

  .popup-content {
    padding: 50%;
  }

  .popup-content h2 {
    font-size: 250% !important;
  }

  .popup-content p {
    font-family: var(--body-font);
    font-size: 150%;
    font-weight: 400;
    text-align: justify;
    margin-top: 2%;
  }

  .link-wrapper {
    margin-top: 5%;
  }

  .link-wrapper a {
    padding: 2% 0%;
    font-size: 100%;
  }

  .button-holder {
    margin-bottom: 10%;
    width: 180%;
    height: 60%;
    display: flex;
    justify-content: center;
  }

  button.stats-button {
    width: 30% !important;
    height: 70% !important;
    /*margin: 1.5rem 10rem !important;*/
    /*border: #000 solid 3px;*/
    border: 0px;
    border-radius: 0.5rem;
    box-shadow: 6px 6px #000;
  }

  .slider::before,
  .slider::after {
    background: linear-gradient(to right, #000 0%, rgba(255, 255, 255, 0) 100%);
    content: '';
    height: 100%;
    position: absolute;
    width: 200px;
    z-index: 2;
  }

  .slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }

  .slider::before {
    left: 0;
    top: 0;
  }
}

@media only screen and (max-width: 600px) {
  #home.section {
    height: 25vh;
  }

  #talentos.section {
    height: 100%;
  }

  .banner video {
    top: 10%;
    width: 100%;
    height: auto;
  }

  img {
    display: none;
  }
}

@media only screen and (max-height: 650px) and (min-height: 600px) {
  #talentos.section {
    height: 120vh;
  }
}

@media only screen and (min-width: 600px) and (max-width: 767px) {
  #home.section {
    height: 85vh;
  }

  #talentos.section {
    height: 245vh;
  }

  #talentos h2 {
    width: 85vw;
  }

  .logo {
    width: 12rem;
    padding: 4rem;
  }

  nav {
    height: 8rem;
  }

  div.subs-container {
    margin: 0% 2.5% 0% 2.5%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  #home.section {
    height: 85vh;
  }

  #talentos.section {
    height: 245vh;
  }

  nav {
    height: 8rem;
  }

  nav .menu {
    text-align: center;
    visibility: visible;
    opacity: 1;
    top: 0;
  }

  nav .menu ul {
    display: flex;
    gap: 1.25rem;
  }

  nav .menu ul li a.title {
    font: 700 1.25rem var(--body-font);
  }

  i.fa-bars,
  i.fa-xmark {
    display: none;
  }

  .logo {
    width: 12rem;
    padding: 4rem;
  }

  #talentos h2 {
    width: 90vw;
    font-size: 2rem;
  }

  #talentos h3 {
    font-size: 1.75rem;
  }

  div.subs-container {
    margin: 0% 5% 0% 5%;
  }

  div.subs i {
    font-size: 1.5rem;
  }

  div.subs p {
    font-size: 1rem;
  }

  .popup {
    max-height: 60%;
    width: 60%;
    height: auto;
    margin: 40% auto;
  }

  #talentos .popup-content h2 {
    font-size: 300%;
  }

  .popup-content p {
    font-size: 150%;
    font-weight: 500;
    margin: 8% 0%;
  }

  .link-wrapper {
    margin-top: 15%;
    font-size: 200%;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  #home.section {
    height: 80vh;
  }

  #talentos.section {
    height: 95vh;
  }

  .logo {
    width: 10rem;
    padding: 4rem;
  }

  .popup {
    max-height: 60%;
    width: 60%;
    height: auto;
    margin: 10% auto;
  }

  #talentos .popup-content h2 {
    font-size: 300%;
  }

  .popup-content p {
    font-size: 150%;
    font-weight: 500;
    margin: 3% 0%;
  }

  .link-wrapper {
    font-size: 200%;
  }

  .card {
    width: 25vw;
    height: 50vh;
  }

  .cards {
    width: 65vw;
    margin: 0% 5% 0% 5%;
  }

  div.form {
    width: 60%;
    margin: 0% 25% 0% 25%;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1599px) {
  #home.section {
    height: 65vh;
  }

  nav .menu ul li a.title {
    font: 900 1.1rem var(--title-font);
  }

  #talentos.section {
    height: 100vh;
  }

  #talentos h2 {
    font-size: 2rem;
  }

  #talentos h3 {
    margin: 1.5% 3% 1.5% 3%;
    font-size: 1rem !important;
  }

  #status h3 {
    font-size: 1.25rem;
  }

  .card {
    width: 14vw;
    height: 55vh;
    margin: 0% 50% 0% 50%;
  }

  div.subs i {
    font-size: 1.5rem;
  }

  .logo {
    width: 12rem;
    padding: 4rem;
  }

  .popup {
    max-height: 60%;
    width: 20%;
    height: auto;
    margin: 10% auto;
  }

  #talentos .popup-content h2 {
    font-size: 200% !important;
  }

  .popup-content p {
    font-size: 100%;
    font-weight: 500;
    margin: 3% 0%;
  }

  .link-wrapper {
    font-size: 150%;
  }

  .cards {
    width: 60vw;
    margin: 1% 10% 0% 10%;
  }

  #status.section {
    height: 100%;
  }

  #status h3 {
    margin: 0.5% 3%;
  }

  .stats-container p {
    font-size: 0.75rem;
    margin: auto;
  }

  .stats.grid {
    gap: 1rem;
    margin: 4% 0% 0% 23.5%;
  }

  div.stats-container {
    width: 85%;
  }

  div.stats-container-first {
    margin: 10% 0% 0% 0%;
  }

/*
  h3.tktk {
    margin: 3% 75% 0% 0% !important;
  }

  h3.yt {
    margin: 3% 70% 0% 0% !important;
  }

  h3.tt {
    margin: 3% 73% 0% 0% !important;
  }

  h3.ttv {
   margin: 3% 75% 0% 0% !important;
  }

  h3.inst {
    margin: 3% 60% 0% 0% !important;
  }

  h3.n-r {
    margin: 3% 45% 0% 0% !important;
  }
*/
  .stats {
    margin: 2% 4% 2% 4%;
  }

  .left {
    text-align: left !important;
  }

  .right {
    text-align: right !important;
  }

  img {
    width: 54%;
    height: auto;
    position: absolute;
    margin: 18.5% 0% 0% -10.5%;
  }

  .button-holder {
    margin-bottom: 10%;
    width: 155%;
    height: 60%;
    display: flex;
    justify-content: center;
  }

  .audit-container {
    width: 40%;
    margin: 5% 30% 5% 30%;
  }

  div.form {
    width: 50%;
    margin: 0% 30% 0% 30%;
  }
}

@media only screen and (min-width: 1600px) and (max-width: 1899px) {
  #home.section {
    height: 76vh;
  }

  #talentos.section {
    height: 100vh;
  }

  div.subs i {
    font-size: 1.5rem;
  }

  .logo {
    width: 12rem;
    padding: 4rem;
  }

  .popup {
    max-height: 60%;
    width: 20%;
    height: auto;
    margin: 10% auto;
  }

  #talentos .popup-content h2 {
    font-size: 300%;
  }

  .popup-content p {
    font-size: 150%;
    font-weight: 500;
    margin: 3% 0%;
  }

  .link-wrapper {
    font-size: 200%;
  }

  .cards {
    width: 82vw;
    margin: 0% 7% 0% 7%;
  }

  div.form {
    width: 50%;
    margin: 0% 30% 0% 30%;
  }
}

@media only screen and (min-width: 1900px) {
  #home.section {
    height: 75vh;
  }

  #talentos.section {
    height: 100%;
  }

  #status {
    height: 100vh;
    margin: 0%;
  }

  div.subs i {
    font-size: 2rem;
  }

  div.subs p {
    font-size: 1.35rem;
  }

  .logo {
    width: 12rem;
    padding: 4rem;
    margin: 1.5rem 0rem 0rem 3rem;
  }

  .cards {
    width: 70vw;
    margin: 1.5% 12% 0% 12%;
  }

  .card {
    width: 15vw;
    height: 50vh;
    margin: 0% 10% 0% 10%;
  }

  .popup {
    max-height: 60%;
    width: 20%;
    height: auto;
    margin: 10% auto;
  }

  .card-img {
    width: 120%;
    height: auto;
    position: absolute;
    margin: -70% 0% 0% -51%;
  }

  #talentos .popup-content h2 {
    font-size: 300%;
  }

  .popup-content p {
    font-size: 150%;
    font-weight: 500;
    margin: 3% 0%;
  }

  .popup-close {
    top: -75px;
    right: -72px;
    z-index: 100;
    border-top-right-radius: 0.75rem;
  }

  .link-wrapper {
    font-size: 200%;
  }

  .stats-audit {
    margin: 4%;
  }

  .audit-container {
    width: 40%;
    height: auto;
    border-radius: 1rem;
    margin: 2% 30% 2% 30%;
    background-color: rgb(255, 255, 255);
    /*border: solid #000;*/
    box-shadow: 6px 6px #000;
  }

  .audit-button {
    width: 100%;
    height: 70%;
    /*border: #000 solid 3px;*/
    border:0px;
    border-radius: 0.5rem;
    box-shadow: 6px 6px #000;
    margin: 4% 0% 1% 0%;
  }

  h3.audit-title {
    margin: 5% 64% -4% 0% !important;
  }

  div.form {
    width: 50%;
    margin: 0% 30% 2% 30%;
  }
}

@media only screen and (min-width: 1360px) and (max-width: 1370px) {
  #home.section {
    height: 70vh;
  }

  #talentos.section {
    height: 90vh;
  }

  #status.section {
    height: 160vh;
  }
}

@media only screen and (min-width: 1500px) and (max-width: 1560px) {
  #home.section {
    height: 70vh;
  }

  #talentos.section {
    height: 90vh;
  }

  #status.section {
    height: 140vh;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1299px) {
  #home.section {
    height: 67vh;
  }

  #talentos.section {
    height: 93vh;
  }

  #status.section {
    height: 176vh;
  }
}

@media only screen and (min-width: 1400px) and (max-width: 1499px) {
  #home.section {
    height: 72vh;
  }

  #talentos.section {
    height: 85vh;
  }

  .card {
    width: 17vw;
    margin: 0% 10% 0% 10%;
  }

  #status.section {
    height: 135vh;
  }
}

@media only screen and (min-width: 1600px) and (max-width: 1699px) {
  #home.section {
    height: 72vh;
  }

  #talentos.section {
    height: 85vh;
  }

  .card {
    width: 17vw;
    height: 50vh;
    margin: 0% 10% 0% 10%;
  }

  #status.section {
    height: 200vh;
  }

  img {
    width: 60%;
    margin: 9% 0% 0% -11.5%;
  }
}
